:root {
	--white: #ffffff;
	--black: #000000;
	--black-brown: #222222;
	--graphitic-black: #1a1a1a;
	--bluish-gray: #747474;
	--silver-craiola: #c6c6c6;
	--gainsborough: #dadada;
	--lavender: #eaebed;
	--linen: #fff0e9;
	--cornflower-blue: #598be0;
	--pumpkin: #ff671b;
	--green: #a8fa91;
	--smoky-white: #f5f5f5;
}